<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nonvoid.blackeye">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/quest"
        android:label="Path Finder"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Phase1.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Phase1.MainActivity" />
        <activity
            android:name=".Phase1.CreateHintActivity"
            android:label="Create Location" />
        <activity
            android:name=".Phase1.HintListActivity"
            android:label="Hints" />
        <activity
            android:name=".Phase1.CheckHintActivity"
            android:label="Check Location" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/DEVELOPER_KEY" />

        <activity android:name=".Phase1.LoginActivity" />
        <activity android:name=".Phase1.PlayActivity" />
        <activity
            android:name=".Phase1.LocationsToDiscoverActivity"
            android:label="Your Progress" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Phase1.EventListActivity"
            android:label="@string/title_activity_event_list"
            android:parentActivityName=".Phase1.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nonvoid.blackeye.Phase1.MainActivity" />
        </activity>
        <activity android:name=".Phase1.AddEventActivity"></activity>
    </application>

</manifest>